.tabular 

  th.rotate
    /* Something you can count on */
    height: 7em;
    white-space: nowrap;

    > div 
      transform: translate(-0.5em, 3em) rotate(-90deg);
      -webkit-transform: translate(-0.5em, 3em) rotate(-90deg);
      -moz-transform: translate(-0.5em, 3em) rotate(-90deg);
      width: 3.1em;
