<div class="tabular">

<!--    <table ng-table-dynamic="vm.tableParams with vm.colsList" class="table" show-filter="false">
      <tr ng-repeat="item in vm.timeIndexedData">
          <td title="'Date'" filter="{ date: 'text'}" sortable="'date'">
              {{item.date}}</td>
          <td title="vm.cols.name.title" ng-repeat="key in vm.keys">
              {{item[vm.cols.name.field]}}</td>
      </tr>
  </table>
 --> 
   <table class="table table-striped">
    <tr>
      <th class="rotate">
        <div>
          <span>
            Indicator
          </span>
        </div>
      </th>
      <th class="rotate">
        <div>
          <span>
            Trend
          </span>
        </div>
      </th>
      <th class="rotate" ng-repeat="item in vm.timeIndexedData">
        <div>
          <span>
          {{item.date | date:'yyyy-MM-dd'}}
          </span>
        </div>
      </th>
    </tr>
    <tr ng-repeat="key in vm.keys">
      <td>
          {{key.description}}
      </td>
      <td>
        <div>
          <sparkline data="key" w="200" h="50"></sparkline>
        </div>
      </td>
      <td ng-repeat="item in vm.timeIndexedData">
          {{item[key.key]}}</td>
    </tr>
  </table>
 
  <!-- {{vm.data['all']}} -->
</div>
