<h1>{{ patient.name }}</h1>
<p>
    <form class="form-inline">
        <div class="btn-group" uib-dropdown is-open="patient-dropdown.isopen">
            <button id="patient-dropdown" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                Patient <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="patient-dropdown">
                <li role="menuitem" ng-repeat="menuPatient in vm.patients"
                    ng-class="{ 'active': menuPatient.id == patient.id }">
                    <a href="#" ng-click="vm.selectPatient(menuPatient)">{{ menuPatient.name }}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" uib-dropdown is-open="graph-dropdown.isopen">
            <button id="graph-dropdown" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                <i class="fa fa-plus" aria-hidden="true"></i> Add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="graph-dropdown">
                <li role="menuitem" ng-repeat="graph in vm.graphs|filter:{ active: false }|orderBy:'label'">
                    <a href="#" ng-click="vm.addGraph(graph.code)">{{ graph.label }}</a>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label class="sr-only" for="startDate">Start Date</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="startDate"
                       is-open="startDatePopup.opened" datepicker-options="dateOptions" id="startDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="startDatePopup()">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="sr-only" for="endDate">End Date</label>
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="endDate"
                       is-open="endDatePopup.opened" datepicker-options="dateOptions" id="endDate" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="endDatePopup()">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>
</p>

<div class="tabular">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Indicator</th>
            <th>Trend</th>
            <th class="rotate date-heading" ng-repeat="item in vm.dates"  data-date="{{ item.dateIndex }}">
                <div><span>{{item.date | date:'yyyy-MM-dd'}}</span></div>
            </th>
        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="vm.activeGraphs">
            <tr ng-repeat="graph in vm.activeGraphs">
                <td><span class="grippy"></span></td>
                <td class="no-wrap">
                    <a href="#" ng-click="vm.removeGraph($index)">
                        <i class="fa fa-times-circle" title="Remove" aria-hidden="true"></i>
                        <span class="sr-only">Remove</span>
                    </a>
                    {{graph.label}}
                    <div class="hover-data">
                        <div>
                            <span class="hover-value"></span>
                            <span class="hover-unit"></span>
                        </div>
                    </div>
                </td>
                <td class="no-wrap">
                    <sparkline code="{{graph.code}}" patient="patient" w="200" h="40" data="graph.series"></sparkline>
                </td>
                <td class="data-point" ng-repeat="cell in graph.cells" data-date="{{ cell.dateIndex }}">
                    <span uib-tooltip-template="'allValues.html'">{{ cell.values[0].value || "-" }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="allValues.html">
    <span>
        <span ng-repeat="value in cell.values">{{ value.value }}<span ng-if="!$last">, </span></span>
    </span>
</script>
