tabular

  h1
    font-size: 24px;

  .form-control
    height: 33px;

  .no-wrap
    white-space: nowrap;

  .hover-data
    font-size: 10px;
    margin-left: 17px;

    .hover-value
      font-size: 12px;
      font-weight: bold;

  .tabular

    overflow-x: scroll;
    overflow-y: visible;

    .table
      width: auto;

    .table > tbody > tr > td.data-point
      border-width: 1px;
      border-color: #ddd;
      border-style: solid;
      width: 25px;

    .table > tbody > tr > td.data-point.current
      background-color: #eee;
      color: red;

    th.date-heading.current
      color: red;

    th.rotate
      height: 80px;
      white-space: nowrap;

      div
        transform: translate(20px, -3px) rotate(315deg);
        width: 25px;

      span
        border-bottom: 1px solid #ddd;
        padding: 10px 20px 10px 5px;

    .grippy
      content: '....';
      width: 16px;
      height: 35px;
      display: inline-block;
      overflow: hidden;
      line-height: 5px;
      margin: -3px 0;
      cursor: move;
      vertical-align: middle;
      font-size: 12px;
      font-family: sans-serif;
      letter-spacing: 2px;
      color: #cccccc;
      text-shadow: 1px 0 1px black;

    .grippy::after
      content: '... ... ... ... ... ...';
