graph-d3, graph-window
	svg
		display: block;

	.axis
		path, line
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;

	.brush
		.extent
			stroke: #fff;
			fill-opacity: .125;
			shape-rendering: crispEdges;

	.area
		fill: steelblue;
		stroke: steelblue;

	.line
		stroke: grey;
		stroke-width: 1;
		fill: none;

	.line, .dot
		clip-path: url(#clip);

	.overlay
		fill: none;
		pointer-events: all;

	.hover
		circle
			fill: red;
			stroke: red;

	.dot
		stroke: steelblue;
		fill: steelblue;

