.controls
	clear: left;

.scroll-container
	width: auto;
	height: 500px;
	overflow-x: scroll;

.graph-container
	margin: 0;
	padding: 0;
	list-style: none;

	li
		clear: left;

	graph-d3
		float: left;

	span
		float: right;

graph-d3, graph-window
	svg
		display: block;

	path
		stroke: steelblue;
		stroke-width: 2;
		fill: none;

	axis
		path, .line
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;

	.brush
		.extent
			stroke: #fff;
			fill-opacity: .125;
			shape-rendering: crispEdges;

	.area
		fill: steelblue;
		clip-path: url(#clip);

	.overlay
		fill: none;
		pointer-events: all;

	.focus
		circle
			fill: none;
			stroke: steelblue;
